# dependencies
/node_modules

# build
/dist
/.vite

# local env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# system files
Thumbs.db

# Vercel & Netlify
.vercel
.netlify

# editor config
.vscode
.idea